@import "../mixins/breakpoints";

.page-home__div__wrapper-splash {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6rem);
  min-height: 35rem;
  background-color: rgba(145,0,1,1);

  @include breakpoint(tablet, phablet) {
    max-height: 45rem;
  }

  .page-home__div__container-splash-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: calc(100% - 4rem);
    height: calc(100% - 6rem);
    border-radius: .1rem;
    background-color: #ffffff;

    @include breakpoint(mobile) {
      height: calc(100% - 4rem);
      max-height: 35rem;
    }

    .page-home__section__container-splash-image {
      box-sizing: border-box;
      height: 100%;
      width: 70%;
      background-color: rgba(220,220,220,1);

      @include breakpoint(tablet, phablet, mobile) {
        display: none;
      }
    }

    .page-home__aside__container-splash-info {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 40%;
      min-width: 25rem;
      padding: 2rem 2rem;
      border-top-right-radius: .1rem;
      border-bottom-right-radius: .1rem;

      @include breakpoint(tablet, phablet, mobile) {
        width: 100%;
        min-width: 100%;
      }

      .page-home__img__wordmark-full {
        display: block;
        width: 12rem;
        margin: 0 auto 2rem auto;
      }

      .page-home__p__info {
        max-width: 20rem;
        margin: 0 auto 2rem auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: rgba(0,0,0,.9);
      }

      .page-home__nav__container-splash-actions {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .page-home__a__action-link {
          box-sizing: border-box;
          display: block;
          width: 100%;
          max-width: 20rem;
          padding: .75rem 0;
          border-radius: .1rem;
          font-family: 'Roboto', sans-serif;
          font-size: 1rem;
          font-weight: 400;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          background-color: rgba(60,150,157,1);
          color: rgba(255,255,255,.9);

          transition-timing-function: ease-in-out;
          transition: color .2s;

          &:first-of-type {
            margin-bottom: 1rem;
          }

          &:hover {
            color: rgba(255,255,255,1);
          }
        }
      }
    }
  }
}

.page-home__div__container-divider {
  box-sizing: border-box;
  position: relative;

  .page-home__div__divider-line {
    min-height: 3.5rem;
    width: 100%;
    margin-bottom: 3.3rem;
    border-bottom: .2rem solid rgba(220,220,220, 1);
  }

  .page-home__header__section-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 2.2rem;
    width: 30rem;
    height: 2.75rem;
    background-color: rgba(220,220,220,1);

    .page-home__h3__section-header-text {
      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.page-home__div__container-upcoming-events {
  min-height: 10rem;
  width: calc(100% - 12rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-left: 6rem;
  margin-right: 6rem;

  .page-home__p__no-upcoming-events {
    margin: 0 0 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: rgba(0,0,0,.9);
  }
}

.page-home__div__container-latest-articles {
  min-height: 10rem;
  width: calc(100% - 12rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-left: 6rem;
  margin-right: 6rem;

  .page-home__p__no-latest-articles {
    margin: 0 0 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: rgba(0,0,0,.9);
  }
}

.page-home__div__container-meet-the-team {
  min-height: 10rem;
  width: calc(100% - 12rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 3rem;

  .page-home__div__wrapper-person {
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(145,0,1,0.25);

    .page-home__div__person {
      height: 200px;
      margin: 3px;
      background-color: white;

      .page-home__div__person-photo {
        display: inline-block;
      }

      .page-home__div__person-spacer {
        display: inline-block;
        width: 3px;
        height: 100%;
        background-color: rgba(145,0,1,0.25);
      }

      .page-home__div__wrapper-person-text {
        vertical-align: top;
        display: inline-block;
        width: calc(100% - 203px);

        .page-home__div__person-text {
          overflow-wrap: normal;
          margin: 1rem 2rem;

          .page-home__h2__person-title {
            font-family: 'Roboto', sans-serif;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1.4rem;
            text-transform: uppercase;
            color: rgba(145,0,1,1);
            margin-bottom: 1rem;

            span {
              color: rgba(145,0,1,0.25);
            }
          }

          .page-home__p__person-bio {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.4rem;
            color: rgba(0,0,0,.9);
          }
        }
      }
    }
  }
}

.page-home__div__spacer {
  min-height: 10rem;
  width: 100%;
}